.aboutus {
    margin-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.aboutus__photo {
    width: 514px;
}
.container__w-text {
    width: 30%;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
}
@media(max-width: 414px) {
    .container__w-text {
            width: 100%;
            padding: 0px 50px;
            display: flex;
            flex-direction: column;
        
    }
    .aboutus__photo {
        width: 80%;
    }
}
.aboutus__y-element {
    color: var(--brand-color);
}
.aboutus__text-l-grey {
    font-size: 17px;
    color: var(--subtitle-color);

}
.aboutus__text {
    font-size: 16px;
    color: var(--text-color);
}
.aboutus__statistic {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container-w-stat {
    text-align: center;
}
.stat-y-text {
    font-size: 45px;
    color: var(--brand-color);
    font-family: 'Rajdhani', sans-serif;
}
.stat-sub-text {
    font-size: 17px;
    color: var(--text-color);
}