.aboutus {
    
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px;

}
.aboutus__photo {
    width: 570px;
    height: 544px;
}
.container__w-text {
    width: 600px;
    height: 544px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutus__y-element {
    color: var(--brand-color);
}

.aboutus__text-l-grey {
    color: var(--subtitle-color);
    margin-top: 30px;
    font-size: 19px;
    font-weight: 600;
}
.aboutus__text {
    color: var(--text-color);
    margin-top: 30px;
}
.aboutus__statistic {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}
.stat-y-text {
    color: var(--brand-color);
    font-size: 40px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
}
.stat-sub-text {
    margin-top: 10px;
    color: var(--text-color);
    font-weight: 700;
}