.each__member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #032540;
}

.each__member-text {
    padding: 0 200px 0 200px;
}

.img__each-member {
    width: 1000px;
}

.each__member-title {
    padding-top: 150px;
    color: var(--title-color);
}

.each__member-our-team-consist {
    font-size: 14px;
    font-weight: bold;
    color: var(--subtitle-color);
}

.each__member-our-staff {
    font-size: 14px;
    color: var(--subtitle-color);
}

.each__member-btns {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.each__member-btn-vacancies {
    display: flex;
    border-radius: 10px;
    background-color: var(--brand-color);
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-width: medium;
    border-style: solid;
    border-color: var(--brand-color);
}

.each__member-btn-vacancies:hover {
    display: flex;
    background-color: var(--light-accent-color);
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-width: medium;
    border-style: solid;
    border-color: var(--light-accent-color);
}

.each__member-btn-vacancies-text {
    color: var(--title-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.each__member-btn-contact-us {
    background-color: (#032540);
    display: flex;
    margin: 0 0 0 30px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    border-color: var(--brand-color);
}

.each__member-btn-contact-us:hover {
    background-color: var(--brand-color);
}

.each__member-btn-contact-us:hover a {
    color: var(--title-color);
}

.each__member-btn-contact-us-text {
    color: var(--brand-color);
    text-decoration: none;
}