@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

body {
  background-color: var(--background-color);
  /* background-color: red; */
  flex-direction: column;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  font-size: 17px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  --background-color: rgb(3, 31, 53);
  --brand-color: rgb(255, 168, 0);
  --light-accent-color: rgb(0, 137, 182);
  --title-color: rgb(255, 255, 255);
  --subtitle-color: rgb(214, 215, 222);
  --text-color: rgb(171, 172, 184);
  --border-color: rgb(255, 255, 255, 0.5);
  --max-with-container: 1200px
}