@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

img {
  display: block;
  width: 100%;
}
a {
    text-decoration: none;
}
:root {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    --text-color: #fff;
    --button-color: #ffa800;
}
.header {
  background-image: url(../img/header-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.header__logo {
  max-width: 180px;
  margin-left: 15px;
}
.header__nav {
  padding-top: 5px;
}
.header__menu {
  display: flex;
  list-style-type: none;
}
.header__menu-item + .header__menu-item {
  margin-left: 30px;
}
.header__menu-link {
  font-weight: 700;
  color: var(--text-color);
  font-size: 16px;
  position: relative;
  transition: 0.3s ease;
}
 
.header__menu-link::after {
  content: ' ';
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  left: 0;
  opacity: 0;
}
.header__menu-link:hover::after {
  opacity: 1;
  transition: 0.3s ease;
  width: 100%;
}
.header__menu-link:hover {
  color: var(--button-color);
}

.link__tell {
  color: var(--text-color);
  font-size: 25px;
  line-height: 34px;
  font-family: 'Rajdhani', sans-serif;
}
.header__tell {
  color: var(--button-color);
}
.link__tell:hover {
  text-decoration: underline;
}
.header__title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 74px;
  line-height: 79px;
  font-weight: 700;
  color: var(--text-color);
  text-align: left;
  margin-top: 10rem;
}
.header__butons{
  margin-top: 65px;
}
.header__button {
  padding: 17px 40px;
  border-radius: 8px;
  font-size: 13.2px;
  line-height: 1.2em;
  letter-spacing: 0;
  letter-spacing: .1em;
  background-color: #ffa800;
  text-transform: uppercase;
  color: var(--text-color);
  transition: 0.3s ease;
}
.header__button:hover {
  background-color: #0089b6;
  color: var(--text-color);
}
.header__btn {
  background-color: transparent;
  border: 2px solid #fff;
  margin-left: 20px;
  transition: 0.3s ease;
}
.header__btn:hover {
  background-color: var(--text-color);
  color: #000000;
}