@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
.contacts   {  
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: var(--brand-color);
    width: 1200px;
    margin: 10%;
     }
     .learn-more-about-brand    {
        display: flex;
        align-items: center;
        gap: 40px;
     }   
 .contacts h2 {
    color: var(--background-color);
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;  
    }
    .contacts button-request:hover {
        background-color: var(--light-accent-color);
    }
.button-request-content  {
    font-family: 'heebo', sans-serif;
    color: var(--title-color);    
}
.button-request  {    
    margin-bottom: 3px;
    background-color: var(--background-color);
    border-radius: 30px;
}
.divider {
    color: var(--brand-color);    
}
.dot    {
    color: var(--light-accent-color);  
}
.learn-more  {
    color: var(--title-color);
    font-size: 34px;
    font-family: 'rajdhani', sans-serif; 
    font-weight: bold;   
   }
.invitation {
    color: var(--subtitle-color);
    font-size: 19px;
    font-family: 'heebo', sans-serif;   
    }
.date-set {
    display:flex;
    font-size: 13px;
    color: var(--brand-color);
    font-family: 'rajdhani', sans-serif;
    text-transform: uppercase;    
}
.architecture   {
    color: var(--title-color);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;    
}
.architecture-meaning   {
    font-size: 17px;
    font-family: 'heebo', sans-serif;
    color: var(--text-color);    
}
.more-info  {
    font-size: 12px;
    font-weight: bold;
    font-family: 'heebo', sans-serif;
    color: var(--light-accent-color);    
}
.right-row  {
   color:  var(--brand-color);   
}
.professional-blog   {
    color: var(--title-color);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;   
}
.our-invitation {
    font-size: 17px;
    font-family: 'heebo', sans-serif;
    color: var(--text-color);   
}
.our-contact-info   {   
    display:flex;
    align-items: center; 
    background-color: var(--background-color);
}