/* our goal photo carousel css */

.our-goals-slides {
  width: 100%;
  object-fit: cover;
  cursor: zoom-out;
}

.our-goals-slides {
  transform: scale(0.9);
}

.our-goal-btn {
  background-color: transparent;
  transition: 0.2s linear;
  cursor: pointer;
  position: absolute;
}
.our-goal-btn.ext {
  right: 15px;
  top: 15px;
}

.our-goal-btn .material-symbols-outlined {
  font-size: 2rem;
  color: var(--text-color);
}
.our-goal-btn .material-symbols-outlined:hover {
  color: var(--title-color);
}
.prev {
  left: 15px;
}
.next {
  right: 15px;
}
.our-goals-slides {
  margin: auto;
}
.our-image img {
  transition: 0.2s linear;
  max-width: 100%;
  max-height: 100%;
}
.our-image:hover {
  opacity: 0.8;
  object-fit: cover;
  transition: 0.2s linear;
  cursor: zoom-in;
  transform: scale(1.01);
}

.our-goal-photo-container {
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 11, 11, 0.5);
  z-index: 2000;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.our-goal-photo-container.active {
  opacity: 1;
  pointer-events: all;
}
.our-goal-photo-wrapper {
  position: fixed;
  width: 100%;
}
