.container__carousel {
    display: flex;
    
}
.carousel-coment {
    background: #032540;
}
.text{
    color: rgb(171,172,184);
}
h3 {
    color: #fff;
}
h4 {
    color: #ffa800!important;
}
.icon{
    width: 20px;
    height: 20px;
}
