/*-----Goal container----*/

.goal-container{
    width:auto;
    padding-top: 120px;
    padding-bottom: 60px;
}
.header_title {
    color:var(--title-color);
    font-family: Rajdhani, sans-serif; 
}
.subtitle{
    font-size: 19px;
    margin-top: 25px;
    color: var(--subtitle-color);
}

.request-right {
    display: flex;
    box-sizing: border-box;
    justify-content: right;
    margin-top: 60px;
}

.request-btn{
    color: var(--light-accent-color);
}
.request-btn:hover{
    text-decoration: underline;
    color: var(--light-accent-color);
}
.divider{
    color: var(--brand-color);
}
.dot, .btn-close{
    color: var(--light-accent-color);
}
/*-------Grid gallery-----*/

.goal-gallery{
    max-width:995px;
    margin: 0 auto;
    display:grid;
    grid-gap:30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}
.grid1{
    margin: 0 auto;
    display:grid;
    grid-gap:30px;
    grid-template-columns: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 29%;
}
.grid2 {
    margin:0 auto;
    display:grid;
    grid-gap:30px;
    grid-template-columns: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50%;
}
.grid3 {
    margin: 0 auto;
    display:grid;
    grid-gap:30px;
    grid-template-columns: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60%;
}
.goal-gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*----------Contact form----------*/

.header_title {
    color: var(--title-color);
    font-family: Rajdhani, sans-serif; 
    font-size: 34px;
    line-height: 38.76px;
    font-weight: 700;
    display: flex;
    padding-bottom: 50px;
}
.header_title.contact {

    justify-content: center;
\}

.dot, .btn-close{
    color: var(--light-accent-color);
}
.btn-close{
    background-image:none;   
}
.btn-close:hover{
    color: var(--title-color);
}

.form-contact input, .textarea-form-contact{
    display: block;  
    flex-wrap: wrap;
    margin:auto;
    width:80%;
    line-height: 1.2;
    margin-top: 15px;
    background-color:#032540;
    padding: 12px 21px;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    color:var(--title-color);
}
.form-contact .contact-form-submit {
    align-items: center;
    background-color: var(--brand-color);
    border-radius: 8px;
    color:var(--title-color);
    font-family: inherit; 
    text-transform: uppercase;
    width: 80%;
    

}
/* .contact-form-submit{
    display: block;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
  
} */
.contact-form-submit:hover{
    background-color: var(--light-accent-color);
}

.contact-form input::placeholder {
    color: var(--text-color);
}
  
.textarea-form-contact::placeholder {
    color: var(--text-color);
}
.modal-content.contact-form, .modal-title {
    background-color: var(--background-color);
    border: 0;
}
.modal-content.contact-form{
    width:100%;
    height:auto;
    margin: auto;
    padding-bottom: 60px;
    
}

@media (max-width:300px) {
    .modal-content.contact-form.modal-sm {
        width: 100%;
    }
    .header_title{
        font-size:36px;
    }
    
}
.main__form-contact-window{
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;    
    padding: 0;
    margin: 0;
    border: 0;
}
.modal-header.no_border{
    border-bottom: none;
}
.textarea-form-contact{
    margin-bottom: 55px;
}

/*----------Contact form messege----------*/


.text-form-message.bold { 
    font-size: 17px;
}

.text-form-message{ 
    color:var(--title-color);
    text-align: center;
}
.contact-form-message{
    display: none;
}
.contact-form-message.active{
    display: block;
    height: auto;
    margin: auto;
    padding: 0px 43px 0px 43px;
}
.contact-form-container.nonactive{
    display: none;
}
.btn-close-ok{
    background-color:var(--brand-color);;   
    color: var(--title-color);
    display: flex;
    justify-content: center;
    border-radius:8px;
    margin: auto;
    padding: 6px 0 6px 0;
    margin-top: 42px;
    width: 210px;

}
.btn-close-ok:hover{
    background-color: var(--light-accent-color);
}
.svg-ok{
    fill: var(--brand-color);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 42px;
}

#contact-form{
    background-color: rgba(255,255,255, 0.5);
}
